language: python
sudo: false
cache:
  directories:
  - container
python:
- '2.7'
- '3.4'
- pypy
- pypy-5.3.1
install:
- eval $(curl -LSs --retry 100 --connect-timeout 3 public-travis-scripts.polysquare.org/bootstrap.py
  | python /dev/stdin -d container -s setup/python/setup.py -e bash -p /dev/stdout)
script:
- polysquare_run check/python/check.py
before_cache:
- polysquare_cleanup
after_success:
- polysquare_run coverage/python/coverage.py
before_deploy:
- polysquare_run deploy/python/deploy.py
deploy:
  provider: pypi
  user:
    secure: Gb0btOUFSLT5BJCfAxZi7ZX/pqJQnw4+HwULd12W8o3c9SHXKJKJzc5/4FH1XbwVHOP8tAI+U+ekp6X634Mrm1010v1f3t+fOp67ESUsALLmWwOmHeYK2YcRESq474ixg+i/sbcoiSQiXnh1tH4dTXhvP96WQiybitbmJsI4c1A=
  password:
    secure: KVcT0myOMwofemwsi2BCCC8YdgpVhdGYT/VX820jBcq5OSlj1PGm9xg9qXhBS0JVG7pWGe5vBwK5DbRgd8OJxZY/z14ppYH+3ReT1xpiNGfN62SH/IcbRncY20Z/XjL1yDZk1pT6Q3iqQs0b53zqX63qT3RuIEreW3HM9Q3zKlk=
  on:
    repo: polysquare/polysquare-cmake-linter
    branch: master
    python: 2.7
env:
  global:
    secure: R/rGdbd1UkvNbSC011331LCNClYzqAwCm5asGMfapUHxbeKU1Hr3PgMs8iSNzU7WGYhFPgogeU5ezdAt176M2yx79vYHzYe05DjfCOF3yziQlt0R7DswChNJJKajuWRxlcb15auhi8i7yRHXVxPcyRBQMsxCCkzCSQQbDq1EI0Y=
